body {
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  text-transform: uppercase;
  font-weight: 700;
  background: rgb(23, 23, 23);
  background: linear-gradient(
    180deg,
    rgba(23, 23, 23, 1) 0%,
    rgba(32, 2, 51, 1) 53%,
    rgba(32, 32, 32, 1) 100%
  );
  height: 172px;
  background: rgb(23, 23, 23);
  background: rgb(23, 23, 23);
  width: 655px;
  margin: auto;
  text-shadow: 1px 1px 8px #f3ec784d;
}

.gradient-text {
  background-color: red;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

body {
  background-color: #181123;
}

header {
  margin-top: 1em;
  margin-top: calc(50vh - 3em);
}

h1 {
  font-family: "Press Start 2P", system-ui;
  font-weight: normal;
  font-size: 6em;
  text-align: center;
  margin-bottom: -0.1em;
  text-shadow: 1px 1px 8px #f3ec784d;
}

ul {
  max-width: 700px;
  border-radius: 25px;
  box-shadow: 1px 1px 8px #f3ec78;
  margin: auto;
  height: 555px;
}

/*
.startButton {
  align-items: center;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.startButton:active,
.startButton:hover {
  outline: 0;
}

.startButton span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.startButton:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
*/
